{% extends 'base.html' %}
{% block extrahead %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1> 电脑小队活动管理 </h1>
            <table id="activity_table" data-show-columns="true">
                <thead>
                    <tr>
                        <th data-field="date" data-align="center">时间</th>
                        <th data-field="place" data-align="center">地点</th>
                        <th data-field="id" data-align="center" data-formatter="id_formatter">操作</th>
                    </tr>
                </thead>
            </table>
            <table class="table table-hover" >
                <thead>
                    <tr>
{#                        <th> id </th>#}
                        <th> 时间 </th>
                        <th> 地点 </th>
                        <th> 操作 </th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in activities %}
                    <tr>
{#                        <td> {{ act.id }} </td>#}
                        <td> {{ act.date }} </td>
                        <td> {{ act.place }} </td>
                        <td> <button class="btn btn-danger" onclick="confirm_delete({{ act.id }})"> 删除 </button> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="form-inline">
                <div class="form-group">
                    <label for="activity_date"><span>活动时间：</span></label>
                    <input type="text" class="form-control" id="activity_date" placeholder="格式yyyyMMdd">
                </div>
                <div class="form-group">
                    <label for="activity_place"><span>活动地点：</span></label>
                    <input type="text" class="form-control" id="activity_place" placeholder="输入活动地点">
                </div>
                <input type="submit" value="提交" class="btn btn-default" onclick="create_activity()">
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">删除活动</h4>
                </div>
                <div class="modal-body" style="max-height: 266.4px; overflow-y: auto;">
                    删除后不可恢复，确认删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger">删除</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    {% load staticfiles %}
    <script src='{% static "local/activity.js" %}' type="text/javascript"></script>
    <script type="text/javascript">
        load_activity_table();
    </script>
{% endblock %}
