{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% load staticfiles %}
{#            <h1 class="col-xs-12"><img src="{% static 'image/logo.png' %}" class="img-responsive col-xs-3" alt="Responsive image">新建病历单</h1>#}
            <h1 class="col-xs-12 col-md-12">新建病历单</h1>
            <div id="case_form" class="form-inline col-xs-12 col-md-12">
                <div class="form-group">
                    <label for="owner">姓名：</label>
                    <input type="text" class="form-control" id="owner" placeholder="填写姓名">
                </div>
                <br /><br />
                <div class="form-group">
                    <label for="contact">联系方式：</label>
                    <input type="tel" class="form-control" id="contact" placeholder="手机号">
                </div>
                <br /><br />
                <div class="form-group">
                    <label for="computer_model">电脑型号：</label>
                    <input type="text" class="form-control" id="computer_model" placeholder="填写电脑型号">
                </div>
                <br /><br />
                <div class="form-group">
                    <label for="problem">问题描述：</label>
                    <textarea class="form-control" id="problem"></textarea>
                </div>
                <br /><br />
                <div id="info_message"></div>
                <button class="btn btn-default" onclick="add_case()">新建病例单</button>
            </div>
            <div class="col-xs-12 com-md-12">
                <button class="btn btn-default" onclick="$('#case_form').toggle(1000);">隐藏病例单</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'local/patient.js' %}" type="text/javascript"></script>
{% endblock %}